// Colour palette
$white: #fdfdfb;
$black: #171717;
$primary: #704241;
$secondary: #485665;
$tertiary: #ee6c4d;

// Font and text utilities
// Body paragraphs
$body-font-family: "Open Sans", sans-serif;
$body-font-size: 16px;
$body-font-weight: 400;
// Headers
$header-font-family: "Merriweather", serif;
$header-font-weight: 500;
